.welcome-image{
	position: fixed;
	opacity:0.8;
    height: 100%;
    width: 100%;
	background-image:url(../images/indexSearchBack.jpg) ;
	background-size: cover;
}
.welcomeSearch{
	position: absolute;
    background-color: rgba(0, 0, 0, 0.498039);
    border-radius: 8px;
    height: 135px;
    
}
.welcomeSearch label{
	color:#fff;
}
.welcomeSearch div{
	align-self:center;
	
}
.indexSearch{
	min-height:700px;
	background-color:transparent;
	
	text-align:center;
}

.indexSearch h1{font-weight:800;text-transform:uppercase;color:#fff;margin-top:200px}
.indexSearch h2{text-transform:uppercase;color:#fff;font-weight: 700}
.headerNav{
	position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #fff;
}
.sponsors{
	height:200px;
	background-color:#fff;
	text-align:center;
}
.sp1 img{
   height: 69%;
    width: 80%;
    margin-top: 52px;
}.sp2 img{
	    height: 87%;
    width: 110%;
    margin-top: 18px;
}.sp3 img {
	    height: 100%;
    margin-top: 13px;
    width: 76%;
}
.index .container{
	width:100%;
	background-color:black;
}

.busquedaAvanzada{
	display:none;
}
.busquedaAvanzada .show{
	display:block;
}

.busquedaNormalIcon ,.busquedaAvanzadaIcon{
	display:none;
} 
.busquedaNormalIcon show,.busquedaAvanzadaIcon show{
	display:block;	
}
.nm{
	margin-top:10px;
}
.citiesWelcome:hover{
	opacity:0.6;
	cursor:pointer;
}
