#slider-left:hover{
	cursor:url('../images/arrowLeft.gif'),pointer;
	
}
#slider-right:hover{
	cursor:url('../images/arrowRight.gif'),pointer;
}
.fotosInfo{
	opacity:0.8;
	text-align:center;
	
}
.fotosInfo h1{
	margin-top:25%;
	background-color:#fff;
	width:100%;
}
.fotosInfo:hover{
	opacity:0.6;
	cursor:pointer;
}

.carousel-imagenes{
	display:none;
}

.carousel-imagenes.show{
	display:block;
	position:fixed;
	z-index:200;
	height:100%;
	width:100%;
	background-color: rgba(0, 0, 0, 0.498039);
}

#close-icon{
	position: fixed;
    top: 7%;
    left: 80%;
    width: 50px;
}
#close-icon:hover{
	cursor:pointer;	
	
}

#thumbcarousel{
position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 200px;
    width: 100%;
    top: 80%;
}

#carousel{
	height: 80%;
}
.locStreetList li{
    min-width: 100px;
}
.locStreetList{
	display: inline-flex;
}

.menuAlquilar{
	    background-color: #fff;
    z-index: 10;
    border-style: solid;
    border-radius: 13px;
    height: 400px;
    width: 300px;
    position: fixed;
    left: 74%;
    top: 30%;
}
.menuAlquilar .col-md-12{
	    border-bottom: 5px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.ec-stars-wrapper {
	    margin-top: -5px;
	/* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 2rem;
	
	color: #888;
}

.ec-stars-wrapper:hover a {
	color: rgb(39, 130, 228);
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}

.serviciosInfo{
	margin-top:10px;
}



.reservado{
	color:red!important;
}
