
.navProperty th {
	text-align: center;
	min-width:70px;
}
.navProperty img{
	width:20px;
}
.navProperty img:hover{
	cursor:pointer;
}

.camposBusqueda{
	text-align:center;
	background-color: currentColor;
	min-height: 215px;
}
.sm{
	margin-top:10px;
}
.camposBusqueda label{
	color:#fff;
}
