
.navProperty th {
	text-align: center;
	min-width:70px;
}
.navProperty img{
	width:20px;
}
.navProperty img:hover{
	cursor:pointer;
}

.camposBusqueda{
	text-align:center;
	background-color: currentColor;
	min-height: 215px;
}
.sm{
	margin-top:10px;
}
.camposBusqueda label{
	color:#fff;
}
.add-on{
	background-color:#269ecb;
}

.avanzado{
	display:none;
}
.avanzada .show{
	display:block;
}

.propertyResult{
	width: 45%;
	height: 345px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-color: #000;
    border-style: solid;
    border-radius: 7px;
    margin-left: 25px;
}
.propertyResult .item{
	height:270px;
	
 background-size:cover;background-position: 50%;background-repeat: no-repeat;
}
.propData{

       position: absolute;
    background-color: #3bafda;
    color: #fff;
    height: 67px;
    z-index: 90;
    left: 0%;

    top: 80%;
    width: 100%;
}
}
.propData a{
	color:#000;
}
.propData .tit{
	background-color: #fff;
		 color: #000;
		 height: 100%;
    margin: 0;
    padding:0;
	
}.propData .title { 
margin: 0;
}.propData .subtit{
		margin: 0;
		padding:0;
}

.propertyResult .left.carousel-control,.propertyResult .right.carousel-control{
	top:40%;
}
#flechaControl{
	height:25px;widht:auto;
}
.propertyResult #slider-left:hover{
	cursor:pointer;
	
}
.propertyResult #slider-right:hover{
	cursor:pointer;
}
#map{
	height:400px;
}

.selecter label{
	padding-left:10px
}
.selecter input{
	-ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
}

#mapaTit{
	margin-top:20px;
}